@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html,h1,h2,h3,h4,h5,h6,a{

    font-family: "Raleway", serif;
}


.navbar{
    background:#1ed760;
    min-height: 70px;
}

.nav-link , .navbar-brand{ color: #f4f4f4; cursor: pointer;}

.nav-link{
    margin-right: 1em !important;
}

.nav-link:hover{ background: #f4f4f4; color: #1ed760; }

.navbar-collapse{ justify-content: flex-end;}

.navbar-toggler{  background:#fff !important;}

.navbar-collapse{
    justify-content: flex-end;
}

.bg-dark{
    background-color:#343a40!important
}
.bg-primary{
    background-color:#007bff!important
}
.logo {
    width: 110px;
}
.top {
    font-size: 30px;
    letter-spacing: .1em;
    font-family: "Bebas Neue", serif;
    color: white;
    margin-left:30px;
    margin-right:30px;
}
.bar {
    background-color: #09851D;
}
.butt {
    margin-left: 150px;
    margin-top: 20px;
}

.description butt {
    font-family: "Proxima Nova Rg", serif;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.vl {
    border-left: 1.5px solid black;
    height: 45px;

}
.v2 {
    border-left: 2px solid white;
    height: 190px;
    width: 2px;
    margin-left: 40px;
    margin-top: 90px;


}
.watson {
    width: 450px;
    padding-left: 250px;
    padding-top: 90px;
}
.spotifyi {
    width: 400px;
    padding-top: 77px;
    padding-left: 30px;
}
.music {
    padding-top: 0px;
    padding-bottom: 0px;
    width: 594px;
    float: right;
}
/*header style*/
.header{
    background-color: black;
    height: 671px;
    width: auto;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.description{
    font-family: 'Titanium Web', serif;
    position: absolute;
    top: 50%;
    left: 5%;
    margin: auto;
    padding: 2em;
}

.description h1{
    color:white;
    font-size: 75px;
}
.description p{
    color:white;
    font-size: 20px;
    width: 50%;
    line-height: 1.5;
}
.description button{
    border:1px  solid #1ed760;
    background:#1ed760;
    color:#fff;
    font-family: "Proxima Nova",serif;
}
.fade-in {
    opacity: 0;
}
* {
    box-sizing: border-box;
}
.h1 {

}
.title {
    text-align: center;
    font-weight: normal;
    font-size: 30px;
    color: white;
}
.title-border {
    border-radius: 0;
    border-bottom: 3px solid black;
}
.main-body {
    display: flex;
    width: 100%;
    align-items: stretch;
    border-bottom: 3px solid black;
    border-left: 1px solid black;
}
.left-section {
    text-align: center;
    width: 25%;
    border-right: 1px solid black;
    padding: 0 10px;
}
.center-section {
    text-align: center;
    width: 50%;
    padding: 0 10px;
    border-right: 1px solid black;
}
.right-section {
    text-align: center;
    width: 25%;
    padding: 0 10px;
    border-right: 1px solid black;
}
.bottom-right-section {
    padding-left: 30px;
    border-right: 1px solid black;
}
.article-title {
    font-size: 30px;
    font-weight: normal;
    font-style: italic;
    text-align: center;
}
.article-text {
    text-align: left;
}
.row-text {
    font-weight: bold;
    font-family: "Futura", serif;
    color: #666;
    font-size: 30px;
    padding-left: 30px;
}
.final-section {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    padding-left: 0;
    margin: 0;
    width: 100%;
}
.section-politics {
    background-color: #ffeaa7;
    display: flex;
    align-items: center;
    height: 10%;
    flex: 1;
}
.section-technology {
    background-color: #81ecec;
    display: flex;
    align-items: center;
    height: 10%;
    flex: 1;
}
.section-local {
    background-color: #55efc4;
    display: flex;
    align-items: center;
    height: 10%;
    flex: 1;
}
.section-opinion {
    background-color: #74b9ff;
    display: flex;
    align-items: center;
    height: 10%;
    flex: 1;
}
.section-sports {
    background-color: #a29bfe;
    display: flex;
    align-items: center;
    height: 10%;
    flex: 1;
}
#title-text {
    font-family: "Times New Roman", serif;
    size: auto;
}



